* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, span, p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 18px;
}

form {
    margin-bottom: 24px;
}

canvas {
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
